<?xml version="1.0" ?><model>
  <name>RP_logo</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <sdf version="1.5">model-1_5.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>

  <author>
    <name>C. Mauricio Arteaga-Escamilla from Robotica Posgrado (YouTube Channel)</name>
    <email>cmauricioae8@gmail.com</email>
  </author>

  <description>
    A model of the Robotica Posgrado logo
  </description>

</model>
